---
import LayoutBasic from '../layouts/LayoutBasic.astro';
import { SignedIn, SignedOut, UserButton, SignInButton, UserProfile, SignIn} from '@clerk/astro/components';
---

<LayoutBasic>
    <main class="flex flex-col items-center justify-center min-h-screen bg-neutral/80 text-neutral-100">
        <SignIn/>
    </main>
</LayoutBasic>
