---
import { SignOutButton } from "@clerk/astro/components";
import {LogOut, House, Beef, Wheat, ChartBarStacked} from '@lucide/astro'
---

<nav class="flex lg:hidden flex-row gap-4 px-4 py-3 sticky bottom-0 h-fit justify-around bg-white">
    <!-- <a href="/" class="flex flex-col text-[12px] gap-1 items-center"><House size="20"/>Home</a> -->
    <a href="/dishes" class="flex flex-col text-[12px] gap-1 items-center"><Beef size="20"/>Platos</a>
    <a href="/categories" class="flex flex-col text-[12px] gap-1 items-center"><ChartBarStacked size="20" />Categorías</a>
    <a href="/allergens" class="flex flex-col text-[12px] gap-1 items-center"><Wheat size="20"/>Alérgenos</a>
    <SignOutButton class={"text-start cursor-pointer flex flex-col gap-1 items-center text-[12px]"}><LogOut size={20}/>Desconectar</SignOutButton>
</nav>