---
import Menu from "@/components/Menu.astro";
import MenuMobile from "@/components/MenuMobile.astro";
import "@/styles/global.css";
import UserButton from "node_modules/@clerk/astro/components/interactive/UserButton/UserButton.astro";
const {title} = Astro.props as {title: string};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="grid grid-cols-1 lg:grid-cols-[200px_1fr] h-screen">
			<Menu />
			<section class="flex flex-col">
				<header class="bg-white p-4 flex justify-end items-center gap-2 h-[60px] sticky top-0 z-10">
					<UserButton />
				</header>
				<div class="flex flex-col gap-2 p-8 bg-gray-100 rounded-2xl h-full w-[calc(100%-16px)] mb-4 lg:me-4 mx-auto">
					<slot />
				</div>
				<MenuMobile />
			</section>
		</main>
	</body>
</html>
